<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_ottoerp_root"
              name="OttoERP"
              sequence="0" />

    <menuitem id="menu_employee_master"
              name="Employee Details"
              parent="menu_ottoerp_root"
              sequence="0" />

    <menuitem id="menu_employee"
              name="Employee"
              parent="menu_employee_master"
              sequence="0" />
</odoo>
